* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}
.section1 {
  height: 100vh;
  width: 100%;
  background-image: url(../Images/BG.jpeg);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-left: 9%;
  padding-right: 9%;
}
.logo {
  color: white;
   font-size: 38px;
   letter-spacing: 1px;
   cursor: pointer;
}
span{
  color: #f9004d;
  
}